<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-floating">
    <%= form.text_field :name, class:"form-control",placeholder:"login"%>
    <%= form.label t('.name')%>
  </div>

  <div class="form-floating">
    <%= form.text_field :email,class:"form-control",placeholder:"name@example.com" %>
    <%= form.label "Email" %>
  </div>
  <div class="form-floating">
    <%= form.password_field :password,class:"form-control",placeholder:"*****"%>
    <%= form.label t('.password')%>

  </div>
  <div class="form-floating">
    <%= form.password_field :password_confirmation,class:"form-control",placeholder:"*****" %>
    <%= form.label t('.password_confirmation') %>
  </div>

  <div class="actions">
    <%= form.submit t(".create_account"), class:"w-100 btn btn-large btn-primary mt-3" %>
  </div>
<% end %>
