<p id="notice"><%= notice %></p>
<div class="show_user">
  <div class="row">
    <aside class="span4">
      <section>
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
    </aside>
  </div>
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  <%= link_to t(".work"), work_path, class: "w-100 mt-3 btn btn-primary" %>
</div>

<%= link_to 'Edit', edit_user_path(@user), class:"w-100 mt-3 btn btn-warning" %>
<%= link_to t("users.new.back"), users_path, class:"w-100 mt-3 btn btn-secondary" %>